// Solid colors

// Original colors

$color-watchout: #50E3C2;
$color-park: #FFB55D;
$color-kangsim: $color-park;
$color-lab: $color-watchout;
$color-console: $color-watchout;
$color-ask: #4DEBDF;
$color-musou: #FF5368;
$color-edu: #B7F661;
$color-maa: #4A4A4A; // TODO: not sure if this works
$color-vendor: #F8E71C;

// Same thing but in a map

$watchout-colors: (
  watchout: #50E3C2,
  park: #FFB55D,
  kangsim: $color-park,
  lab: $color-watchout,
  console: $color-watchout,
  ask: #4DEBDF,
  musou: #FF5368,
  edu: #B7F661,
  maa: #4A4A4A,
  vendor: #F8E71C
);

// Light colors 25%

$color-watchout-light-solid: #D3F8EF;
$color-park-light-solid: #FFECD6;
$color-lab-light-solid: $color-watchout-light-solid;

// Darker colors

$color-watchout-darker: #47C9AD;
$color-park-darker: #E6A353;
$color-kangsim-darker: $color-park-darker;
$color-lab-darker: $color-watchout-darker;
$color-console-darker: $color-watchout-darker;
$color-ask-darker: #45D1C5;
$color-musou-darker: #E64C5E;
$color-edu-darker: #A4DB56;

// Shades of black

$color-video-player-content-black: black;
$color-video-player-background-black: rgb(35, 35, 35);

// Shades of grey

$color-very-very-light-grey: #f5f5f5;
$color-very-light-grey: #e0e0e0;
$color-disable-button-grey: #eaeaea;
$color-light-grey: #efefef;
$color-generic-grey: #b9b9b9;
$color-inactive-grey: #9b9b9b;
$color-light-border-grey: #ccc;
$color-border-grey: #9b9b9b;
$color-secondary-text-grey: #707070;
$color-nice-grey: #4a4a4a;

// Shades of soil

$color-soil-light: #bd7260;
$color-soil-dark: #8c4533;
$color-bedrock: #3a3a3a;

// Transparent colors

$opacity-levels: (almost-opaque: 0.95, light: 0.25, very-light: 0.12);
$color-watchout-light: rgba($color-watchout, map-get($opacity-levels, light));
$color-park-light: rgba($color-park, map-get($opacity-levels, light));
$color-ask-light: rgba($color-ask, map-get($opacity-levels, light));
$color-maa-light: rgba($color-maa, map-get($opacity-levels, light));
$color-musou-light: rgba($color-musou, map-get($opacity-levels, light));

$color-watchout-very-light: rgba($color-watchout, map-get($opacity-levels, very-light));
$color-park-very-light: rgba($color-park, map-get($opacity-levels, very-light));
$color-ask-very-light: rgba($color-ask, map-get($opacity-levels, very-light));

// Almost white transparent colors
// FIXME: bad system
$color-lab-almost-white: rgba($color-lab, 0.13);

// Shares of transparent white

$color-avatar-background-white: rgba(white, 0.68);
$color-modal-overlay-white: rgba(white, 0.94);
$color-modal-mask-less-opaque: rgba(white, 0.84);
$color-push-button-text-white: white;

// Color tuples for cuboids

$color-cuboid-default-light: #eee;
$color-cuboid-default: #ddd;
$color-cuboid-default-darker: #aaa;

$color-cuboid-watchout-light: #5ef9d6;
$color-cuboid-watchout: $color-watchout;
$color-cuboid-watchout-darker: $color-watchout-darker;

$color-cuboid-musou-light: #ff6a7c;
$color-cuboid-musou: $color-musou;
$color-cuboid-musou-darker: $color-musou-darker;

$color-twitter-light: #1dcaff;
$color-twitter: #00aced;
$color-twitter-darker: #0084b4;
$color-facebook-light: #386fe2;
$color-facebook: #3b5998;
$color-facebook-darker: #294684;
$color-line-light: #10de10;
$color-line: #00c300;
$color-line-darker: #009800;

$color-like: $color-watchout;
$color-dislike: $color-musou;

$color-review-terrible: $color-musou;
$color-review-bad: rgba($color-musou, 0.5);
$color-review-okay: rgba($color-watchout, 0.3);
$color-review-good: rgba($color-watchout, 0.65);
$color-review-great: $color-watchout;
