$button-padding-regular: 0.75rem;
@mixin appearance-button() {
  position: relative;
  appearance: none;
  border: none;
  padding: $button-padding-regular;
  @include shadow;
  background-color: $color-very-light-grey;
  font-size: 1rem;
  line-height: 1;
  height: 2.5rem;
  white-space: nowrap;

  &:hover {
    line-height: 1;
  }
  &.wrap {
    white-space: normal;
    line-height: $line-height-compact;
    $top-bottom-padding: $button-padding-regular - ($line-height-compact - 1) / 2;
    padding-top: $top-bottom-padding;
    padding-bottom: $top-bottom-padding;
    height: auto;
  }
}

@mixin form-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  &.align-items-baseline {
    align-items: baseline;
  }
  &.justify-center {
    justify-content: center;
  }
  @each $unit, $length in $unit-lengths {
    &.margin-top-bottom-#{$unit} {
      margin-top: $length;
      margin-bottom: $length;
    }
  }
}
