@mixin appearance-button() {
  position: relative;
  appearance: none;
  border: none;
  padding: 0.75rem;
  @include shadow;
  background-color: $color-very-light-grey;
  font-size: 1rem;
  line-height: 1;
  height: 2.5rem;
  white-space: nowrap;

  &:hover {
    line-height: 1;
  }
}

@mixin form-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
}
