// TCL: Two-column Layout System

$tcl-dev-mode: false;

$gap: 16px;
$tcl-panel-max-width: 464px;
$tcl-bp-sm: $tcl-panel-max-width + 2 * $gap; // 496px
$tcl-bp-md: 688px;
$tcl-bp-lg: 992px;

@mixin tcl-sm {
  @media (min-width: #{$tcl-bp-sm}) {
    @content;
  }
}
@mixin tcl-md {
  @media (min-width: #{$tcl-bp-md}) {
    @content;
  }
}
@mixin tcl-lg {
  @media (min-width: #{$tcl-bp-lg}) {
    @content;
  }
}

$bp-xs: 320px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg-alt: 960px;
$bp-lg: 992px;
$bp-xl: 1200px;

// Less than OR equal to width
@mixin bp-xs-down {
  @media (max-width: #{$bp-xs}) {
    @content;
  }
}
@mixin bp-sm-down {
  @media (max-width: #{$bp-sm}) {
    @content;
  }
}
@mixin bp-md-down {
  @media (max-width: #{$bp-md}) {
    @content;
  }
}
@mixin bp-lg-alt-down {
  @media (max-width: #{$bp-lg-alt}) {
    @content;
  }
}

// More than OR equal to width
@mixin bp-sm-up {
  @media (min-width: #{$bp-sm}) {
    @content;
  }
}
@mixin bp-md-up {
  @media (min-width: #{$bp-md}) {
    @content;
  }
}

@mixin bp-lg-alt-up {
  @media (min-width: #{$bp-lg-alt}) {
    @content;
  }
}
@mixin bp-lg-up {
  @media (min-width: #{$bp-lg}) {
    @content;
  }
}

// More than OR equal to aspect ratio
@mixin aspect-ratio-wide {
  @media (min-aspect-ratio: 16/10) {
    @content;
  }
}
