$color-shadow-minimum: rgba(black, 0.1);
$color-shadow: rgba(black, 0.25);
$color-shadow-darker: rgba(black, 0.35);
$color-shadow-darkest: rgba(black, 0.94);

@mixin shadow-reduced {
  box-shadow: 0 1px 4px 0 $color-shadow;
}
@mixin shadow {
  box-shadow: 0 2px 8px 0 $color-shadow;
}
@mixin shadow-darker {
  box-shadow: 0 2px 8px 0 $color-shadow-darker;
}
@mixin shadow-lifted {
  box-shadow: 0 4px 16px 0 $color-shadow;
}
@mixin shadow-lifted-darker {
  box-shadow: 0 4px 16px 0 $color-shadow-darker;
}
@mixin shadow-lifted-darkest {
  box-shadow: 0 4px 16px 0 $color-shadow-darkest;
}
@mixin shadow-minimum {
  box-shadow: 0 1px 4px 0 $color-shadow-minimum;
}
@mixin shadow-expanded {
  box-shadow: 0 8px 48px 0 $color-shadow;
}
