a, a:hover, a:focus, a:active, a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  line-height: $line-height-tight; // TODO: is this ok?
  &.secondary-text {
    color: $color-secondary-text-grey;
  }
  &.text-color-watchout {
    color: $color-watchout;
  }
  &.text-color-musou {
    color: $color-musou;
  }
}
a.a-text,
.a-text-parent a {
  display: inline;
  @include underline($color-watchout, 0.65);
  &.text-color-musou {
    @include underline($color-musou, 0.65);
  }

  &:hover, &:focus, &:active {
    @include underline($color-watchout, 1.0);
    &.text-color-musou {
      @include underline($color-musou, 1.0);
    }
  }

  &.monochrome {
    @include underline(black, 0.25);
    &:hover, &:focus, &:active {
      @include underline(black, 1.0);
    }
  }
}
a.a-block {
  display: block;
  line-height: $line-height-default; // TODO: is this ok?
}
a.inline-block {
  display: inline-block;
}
a.a-block,
a.a-inline-block {
  &:not(.disabled) {
    & .a-target {
      display: inline;
      @include underline($color-watchout, 0.65);
    }
    &:hover, &:focus, &:active {
      .a-target {
        @include underline($color-watchout, 1.0);
      }
    }
  }
}
