// Text color

.text-color-park {
  color: $color-park;
}

// Background color

// Channel-specific background colors
// Generate bg-* bg-*-almost-opaque bg-*-light
@each $channel, $color in $watchout-colors {
  @each $opacity-name, $opacity in $opacity-levels {
    .bg-#{$channel} {
      background-color: $color;
    }
    .bg-#{$channel}-#{nth($opacity-name, 1)} {
      background-color: rgba($color, $opacity);
    }
  }
}

.bg-ask-gradient-to-transparent {
  background: linear-gradient(to bottom, rgba($color-ask, 0.25), rgba($color-ask, 0));
}

// Other background colors
.bg-very-very-light-grey {
  background-color: $color-very-very-light-grey
}
