@use './resources/form';
@use './resources/draw';
@use './resources/shadow';
@use './variables';

.button {
  @include form.appearance-button;
  cursor: pointer;
  display: inline-block;
  line-height: 1em;

  &.large {
    font-size: 1.5rem;
    padding: auto;
    height: 3.25rem;
  }
  &.medium-large {
    font-size: 1.25rem;
    padding: 0.75rem;
    height: 2.75rem;
  }
  &.medium {
    font-size: 0.9375rem;
    padding: 0.625rem;
    height: 2.1875rem;
  }
  &.small {
    font-size: variables.$font-size-small;
    padding: 0.5rem;
    height: 2rem;
  }
  &.light-hover:hover {
    background-color: variables.$color-very-very-light-grey;
  }
  &.tiny {
    font-size: variables.$font-size-tiny;
    padding: 0.5rem;
    height: 1.75rem;
  }
  &.vendor {
    background-color: #F8E71C;
    color: #FF8B00;
  }
  @each $channel, $color in variables.$watchout-colors {
    &.#{$channel} {
      background-color: $color;
    }
  }
  @each $channel, $color in variables.$watchout-colors {
    &.#{$channel}-light {
      background-color: rgba($color, map-get(variables.$opacity-levels, light));
    }
    &.#{$channel}-hover:hover {
      background-color: rgba($color, map-get(variables.$opacity-levels, light));
    }
  }
  &.dark {
    border: 1px solid black;
    color: white;
    background-color: black;
  }
  &.dark:hover {
    border: 1px solid black;
    color: black;
    background-color: white;
  }
  &.toggle {
    color: variables.$color-inactive-grey;
    background-color: variables.$color-very-very-light-grey;
  }
  @each $channel, $color in variables.$watchout-colors {
    &.toggle.#{$channel}.active {
      color: black;
      background-color: $color;
    }
  }
  // text color on specific background color
  &.musou {
    color: white;
  }

  &[disabled],
  &.immutable {
    box-shadow: none;
    cursor: default;
  }
  // FIXME: should this be .button.cuboid OR .button-cuboid?
  &.cuboid {
    box-shadow: none;
    &.default {
      background-color: variables.$color-cuboid-default-light;
      @include draw.cuboid(8px, variables.$color-cuboid-default-darker, variables.$color-cuboid-default, true);
    }
    &.watchout {
      background-color: variables.$color-cuboid-watchout-light;
      @include draw.cuboid(8px, variables.$color-cuboid-watchout-darker, variables.$color-cuboid-watchout, true);
    }
    &.musou {
      background-color: variables.$color-cuboid-musou-light;
      @include draw.cuboid(8px, variables.$color-cuboid-musou-darker, variables.$color-cuboid-musou, true);
    }
  }
  // FIXME: .button.simple.round OR .button-simple-round?
  &.simple.round {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    padding: 0.25rem;
    font-size: 0.875rem;
  }
  &.like.active {
    background-color: variables.$color-like;
  }
  &.dislike.active {
    background-color: variables.$color-dislike;
  }
  &.review {
    color: white;
    &.terrible.active {
      background-color: variables.$color-review-terrible;
    }
    &.bad.active {
      background-color: variables.$color-review-bad;
    }
    &.okay.active {
      background-color: variables.$color-review-okay;
    }
    &.good.active {
      background-color: variables.$color-review-good;
    }
    &.great.active {
      background-color: variables.$color-review-great;
    }
  }
  &.disable, // FIXME: to be deprecated
  &.disabled {
    box-shadow: none;
    background-color: variables.$color-disable-button-grey;
    color: variables.$color-inactive-grey;
    filter: grayscale(1);
    cursor: default;
  }

  &.shadow-reduced {
    @include shadow.shadow-reduced
  }

  &.play {
    width: 64px;
    height: 44px;
    margin: 0;
    padding: 0;
    background-image: url('~watchout-common-assets/images/buttons/play.png');
    background-size: contain;
    background-color: rgba(variables.$color-watchout, 0.95);
  }

  &.flexible {
    height: auto;
  }

  &.flat {
  box-shadow: none;
  border-radius: 1.25rem;
  height: auto;
    &.small {
      padding: 0.625rem;
      border-radius: 1.0625rem;
    }
  }
}

input[type='text'],
input[type='email'],
input[type='password'] {
  appearance: none;
  cursor: default;
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px variables.$color-border-grey solid;
  line-height: variables.$line-height-relaxed;
  padding: 0;
  margin: 0;
  width: 8rem;
  min-width: 4rem;
  max-width: none;
  &:hover {
    line-height: variables.$line-height-relaxed;
  }

  &.full-width {
    width: 100%;
  }
}

input[type='checkbox'] {
  appearance: none;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  transition: all .15s ease;
  background-color: variables.$color-very-light-grey;
  border: none;
  border-radius: 50%;
  @include shadow.shadow;
  @include draw.checkmark(8px, white);

  &:checked {
    background-color: variables.$color-generic-grey;
  }
  &.watchout {
    &:checked {
      background-color: variables.$color-watchout;
    }
  }
  &.park {
    &:checked {
      background-color: variables.$color-park;
    }
  }
  &.ask {
    &:checked {
      background-color: variables.$color-ask;
    }
  }
  &.no-shadow {
    box-shadow: none;
  }
  &[disabled] {
    box-shadow: none;
    cursor: default;
  }
  &.more-padding {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.form-input-check-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.25rem 0;
  cursor: pointer;
  &.immutable {
    cursor: default;
  }
  > input[type='checkbox'] {
    margin-left: 0;
    margin-right: 0;
  }
  > input[type='checkbox'] + span {
    margin-left: 0.375rem;
  }
}

.form-field {
  @include form.form-field;
}
.form-field-with-label {
  @include form.form-field;
  padding-top: 1.25rem;
  > label,
  > .field-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.875rem;
    color: variables.$color-secondary-text-grey;
  }
  > .input {
    flex-grow: 1;
  }
  > .inputs {
    flex-grow: 1;
  }
}
.form-field-buttons {
  @include form.form-field;
  > .button {
    margin: 0.375rem;
    flex-grow: 1;
  }
  &.no-wrap {
    flex-wrap: nowrap;
    > .button:first-child {
      margin-left: 0;
    }
    > .button:last-child {
      margin-right: 0;
    }
  }
}
.form-field-many-inputs {
  @include form.form-field;
  flex-wrap: wrap;
  > .input {
    flex-grow: 1;
    margin: 0.375rem;
  }
  > .compact,
  > .button,
  > .form-input-check-label {
    width: auto;
    flex-basis: auto;
    flex-grow: 0;
  }
  &.tight {
    > .input {
      margin: 0.25rem;
    }
  }
  &.no-wrap {
    flex-wrap: nowrap;
    > .input:first-child {
      margin-left: 0;
    }
    > .input:last-child {
      margin-right: 0;
    }
  }
  &.equal-width-inputs {
    > .input {
      flex-basis: 100%;
    }
  }
}
.form-field-input-with-buttons {
  @include form.form-field;
  flex-wrap: nowrap;
  > .input {
    flex-basis: 100%;
    margin-right: 0.375rem;
  }
  > .buttons {
    display: flex;
    flex-wrap: nowrap;
  }
}
.form-field-align-center {
  display: flex;
  justify-content: center;
}
.form-field-align-right {
  display: flex;
  justify-content: flex-end;
}

.collapse {
  display: inline-block;
  padding: 0.5rem;
  font-size: 0.75rem;
  line-height: 1;
  color: variables.$color-nice-grey;
  cursor: pointer;

  &.expand {
    &:before {
      content: '';
      @include draw.triangleUp;
    }
    > * {
      display: inline-block;
      vertical-align: top;
    }
  }

  &.shrink {
    &:before {
      content: '';
      @include draw.triangleDown;
    }
    > * {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.button-action {

  &.action {
    padding: 10px 40px;
    height: auto;
    font-size: 26px;
    font-weight: bold;
    box-shadow: none;
    box-sizing: content-box;

    &.light {
      background: #ffffff;
      border: 3px solid #000000;
    }

    &.dark {
      background: #212121;
      color: white;
      border: 3px solid #ffffff;

      &:hover {
        color: black;
      }
    }

    &.small {
      padding: 5px 20px;
      font-size: 20px;
      border: 2px solid #000000;
      &:hover {
        border: 2px solid rgb(69, 224, 181) !important;
      }
    }

    &:hover {
      background: rgb(69, 224, 181) !important;
      border: 3px solid rgb(69, 224, 181) !important;
    }
  }
}

@media (max-width: 768px) {
  .button-action {
    &.action {
      font-size: 25px;
    }
  }
}
