@use './resources/layout';
@use './variables';

.center-self {
  @include layout.center-self;
}
.center-self-wide {
  @include layout.center-self(64rem);
}
.center-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

$image-container-side-margin: 1rem;
$image-container-sizes: (
  default: 49.5rem,
  medium: 32rem
);
@each $name, $size in $image-container-sizes {
  $suffix: if($name == default, '', '-' + $name);
  .image-container#{$suffix} {
    display: block;
    width: 100%;

    > img, > .image {
      display: block;
      max-width: $size;
      // user $image-container-side-margin value here
      width: calc(100% - 2rem);
      margin: 0 $image-container-side-margin;
      @media (min-width: #{$size + $image-container-side-margin * 2}) {
        margin-left: auto;
        margin-right: auto;
      }
    }
    > .caption {
      display: block;
      max-width: $size;
      margin: 0.5rem $image-container-side-margin;
      color: variables.$color-secondary-text-grey;

      @media (min-width: #{$size + $image-container-side-margin * 2}) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
.image-container { // FIXME: legacy extension of default image-container
  &.full-width {
    > img, > .image {
      max-width: 96rem;
    }
  }
  &.portrait {
    > img, > .image {
      max-width: 30rem;
    }
  }
  &.document {
    > img, > .image {
      border: 1px variables.$color-very-light-grey solid;
      border-radius: 1px;
    }
  }
  &.manga {
    > img, > .image {
      border: 2px variables.$color-nice-grey solid;
      border-radius: 1px;
    }
  }
}
