html, body {
  font-family: $font-sans-serif;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
button, input, optgroup, select, textarea {
  font-family: $font-sans-serif;
  &:focus {
    outline: none;
  }
}
label {
  margin: 0;
}
img {
  display: block;
}
