@use './variables';

html, body {
  box-sizing: border-box;
  width: 100%;
  font-family: variables.$font-sans-serif;
  font-size: variables.$font-size-default;
  line-height: variables.$line-height-default;
  color: variables.$color-font-color-default-black;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
button, input, optgroup, select, textarea {
  border: none;
  font-family: variables.$font-sans-serif;
  &:focus {
    outline: none;
  }
}
label {
  margin: 0;
  cursor: inherit;
}
img {
  display: block;
  &.inline {
    display: inline;
  }
}
ul {
  padding: 0;
  list-style: none;
}
svg {
  text {
    font-family: variables.$font-sans-serif;
    font-weight: normal;
  }
}
