html, body {
  font-family: $font-sans-serif;
  font-size: $rem;
  line-height: $line-height-default;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
button, input, optgroup, select, textarea {
  font-family: $font-sans-serif;
  &:focus {
    outline: none;
  }
}
label {
  margin: 0;
  cursor: inherit;
}
img {
  display: block;
}
ul {
  padding: 0;
  list-style: none;
}
