.tcl-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: $tcl-bp-sm;
  margin-left: auto;
  margin-right: auto;

  > .tcl-panel {
    position: relative;
    width: 100%;
    flex-basis: $tcl-bp-sm;
    overflow: hidden;
    @if $tcl-dev-mode == true {
      border: 1px $color-very-light-grey solid;
    }
    &.half-width {
      flex-basis: calc((100% - #{$tcl-gap * 3}) / 2);
      margin: 0.5rem;
    }
    &.with-padding {
      padding: 1rem;
    }
    &.with-top-bottom-margin {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    &.with-double-top-margin {
      margin-top: 1rem;
    }
    &.with-quad-top-margin,
    &.with-increased-top-margin {
      margin-top: 2rem;
    }
    &.with-double-bottom-margin {
      margin-bottom: 1rem;
    }
    &.with-quad-bottom-margin {
      margin-bottom: 2rem;
    }
    > .tcl-panel-nav-link {
      position: absolute;
      padding: 0.5rem 1rem;
      &.top-left {
        top: 0;
        left: 0;
      }
    }
    > .tcl-panel-heading {
      margin-bottom: 0.5rem;
    }
    > .tcl-panel-title {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
      line-height: $line-height-default;
      font-weight: bold;
      color: $color-nice-grey;
    }
    > .tcl-panel-content {
      &.with-padding {
        padding: 1rem;
      }
    }
  }
}
.tcl-left-right-margin {
  margin-left: 1rem;
  margin-right: 1rem;
}
@include tcl-sm {
  .tcl-container {
    > .tcl-panel {
      flex-basis: $tcl-panel-max-width;
    }
  }
  .tcl-left-right-margin {
    margin-left: 0;
    margin-right: 0;
  }
}
@include tcl-md {
  .tcl-container {
    max-width: $tcl-bp-lg;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    &.no-margin {
      margin-top: 0;
      margin-bottom: 0;
    }
    > .tcl-panel {
      flex-basis: calc((100% - #{$tcl-gap * 3}) / 2);
      margin: 0.5rem;
      &.no-margin {
        margin-top: 0;
        margin-bottom: 0;
      }
      &.full-width {
        flex-basis: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
      }
      &.half-width {
        flex-basis: calc((100% - #{$tcl-gap * 5}) / 4);
      }
      &.three-quarters-width {
        flex-basis: calc((100% - #{$tcl-gap * 5}) / 4 * 3 + #{$tcl-gap * 2});
      }
      &.quarter-width {
        flex-basis: calc((100% - #{$tcl-gap * 5}) / 4);
      }
    }
  }
}
@include tcl-lg {
  .tcl-container {
    > .tcl-panel {
      // TODO: fine-tune panel width
    }
  }
}
