.tcl-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: $tcl-bp-sm;
  margin: 0 auto;

  > .tcl-panel {
    position: relative;
    width: 100%;
    max-width: $tcl-bp-sm;
    @if $tcl-dev-mode == true {
      border: 1px $color-very-light-grey solid;
    }
    &.half-width {
      max-width: calc((100% - #{$tcl-gap * 3}) / 2);
      margin: 0.5rem;
    }
    &.with-padding {
      padding: 1rem;
    }
    &.with-top-bottom-margin {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    &.with-increased-top-margin {
      margin-top: 2rem;
    }
    > .tcl-panel-nav-link {
      position: absolute;
      padding: 0.5rem 1rem;
      &.top-left {
        top: 0;
        left: 0;
      }
    }
    > .tcl-panel-heading {
      margin-bottom: 0.5rem;
    }
    > .tcl-panel-title {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
      line-height: $line-height-default;
      font-weight: bold;
      color: $color-nice-grey;
    }
    > .tcl-panel-content {
      &.with-padding {
        padding: 1rem;
      }
    }
  }
}
.tcl-left-right-margin {
  margin-left: 1rem;
  margin-right: 1rem;
}
@include tcl-sm {
  .tcl-container {
    > .tcl-panel {
      max-width: $tcl-panel-max-width;
    }
  }
  .tcl-left-right-margin {
    margin-left: 0;
    margin-right: 0;
  }
}
@include tcl-md {
  .tcl-container {
    max-width: $tcl-bp-lg;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    &.without-margin {
      margin-top: 0;
      margin-bottom: 0;
    }

    > .tcl-panel {
      max-width: 320 / 688 * 100%; // in case calc() is not supported
      // 688 = 16 + 320 + 16 + 320 + 16
      max-width: calc((100% - #{$tcl-gap * 3}) / 2);
      margin: 0.5rem;
      &.full-width {
        max-width: none;
        margin-left: 1rem;
        margin-right: 1rem;
      }
      &.half-width {
        max-width: calc((100% - #{$tcl-gap * 5}) / 4);
      }
    }
  }
}
