h1, h2, h3, h4, h5 {
  line-height: $line-height-compact;
  font-weight: bold;
  padding: 0;
  margin: 0;
  &.font-serif {
    @include font-serif;
    @include font-smoothing;
  }
  &.font-weight-normal {
    font-weight: normal;
  }
}
h1 {
  font-size: 2.5rem;
  &.small {
    font-size: 1.5rem;
  }
  &.medium {
    font-size: 1.875rem;
  }
  &.large {
    font-size: 3rem;
  }
}
h2 {
  font-size: 1.5rem;
  &.small {
    font-size: 1rem;
  }
  &.large {
    font-size: 2rem;
  }
}
h3 {
  font-size: 1.25rem;
  &.small {
    font-size: 1rem;
  }
  &.large {
    font-size: 1.5rem;
  }
  &.larger {
    font-size: 2rem;
  }
}
h4 {
  font-size: 1rem;
  &.small {
    font-size: 0.875rem;
  }
}
h5 {
  font-size: 0.875rem;
}

.paragraphs {
  margin: 1rem 0;
  &.first {
    margin-top: 0;
  }
  &.last {
    margin-bottom: 0;
  }
  &.no-margin {
    margin-top: 0;
    margin-bottom: 0;
  }
  &.center {
    margin-left: auto;
    margin-right: auto;
  }
  &.default-width {
    width: 18rem;
    @include bp-md-up {
      width: 24rem;
    }
  }
  > p {
    margin-top: 0;
    margin-bottom: $line-height-default * 1em;
  }
  > p:last-child {
    margin-bottom: 0;
  }
  ol {
    list-style: decimal;
    padding-left: 1.25rem;
  }
  ul {
    list-style: disc;
    padding-left: 1.25em;
  }
  ul,
  ol {
    margin: 1rem 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  > blockquote {
    > p:last-child {
      margin-bottom: 0;
    }
  }
}

.number-within-chinese, // FIXME: to be deprecated
.latin-within-han {
  padding: 0 1px;
}

// Font size
.font-size-smaller {
  font-size: 0.875rem;
}

// Text color
@each $channel, $color in $watchout-colors {
  .text-color-#{$channel} {
    color: $color;
  }
}
.text-color-nice-grey {
  color: $color-nice-grey;
}
.text-color-inactive-grey {
  color: $color-inactive-grey
}
.text-color-white {
  color: $color-push-button-text-white;
}

.line-height-tight {
  line-height: $line-height-tight;
}
.line-height-default {
  line-height: $line-height-default;
}
.line-height-relaxed {
  line-height: $line-height-relaxed;
}

// Text align
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

// FIXME: to be deprecated
.section-title-underline,
.section-title-underline-small,
.section-title-underline-tiny {
  font-weight: bold;
  > span {
    display: inline-block;
    border-bottom: 2px black solid;
  }
}
.section-title-underline {
  font-size: 1rem;
  line-height: 1.125rem;
}
.section-title-underline-small {
  font-size: 0.875rem;
  line-height: 1.125rem;
}
.section-title-underline-tiny {
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.section-title {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.125rem;

  &.with-underline {
    > span {
      display: inline-block;
      border-bottom: 2px black solid;
    }
    &.small {
      font-size: 0.875rem;
      line-height: 1.125rem;
    }
    &.tiny {
      font-size: 0.75rem;
      line-height: 0.875rem;
    }
  }
}

ul.bulleted-list {
  list-style: disc;
  padding-left: 1.5em;
}
